# --- CONFIGURACOES DE ISOLAMENTO (VOLUMES) ---
HOST_DATA_DIR=./volumes/data
HOST_PG_DATA_DIR=./volumes/pg

# --- CONFIGURACOES DE PORTAS ---
NGINX_PORT_HTTP=80
NGINX_PORT_HTTPS=443
BACKEND_PORT=8007
POSTGRES_PORT=5433
REDIS_PORT=6379
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# --- CONFIGURACOES DA APLICACAO ---
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/teste
REDIS_HOST=redis
SPRING_RABBITMQ_HOST=rabbitmq

# --- CREDENCIAIS (SUBSTITUA PELOS VALORES REAIS) ---
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=teste
JWT_SECRET_KEY=sua_chave_secreta_aqui
