# Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/teste
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password
DB_PORT=5433

# Security Configuration (API Authentication)
JWT_SECRET=SuaChaveSecretaSuperForteDePeloMenos32Caracteres!
SECURITY_USERNAME=admin
SECURITY_PASSWORD=admin123

# Grafana Configuration
GRAFANA_USER=admin
GRAFANA_PASSWORD=grafana_super_password

# Application Ports
APP1_PORT=8007
APP2_PORT=8008

# Redis Configuration
REDIS_PORT=6379

# RabbitMQ Configuration
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Infrastructure/Messaging Configuration
LOKI_URL=http://localhost:3100
LOKI_PORT=3102
GRAFANA_PORT=3001
NGINX_PORT=81
