<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="lokiUrl" source="loki.url" defaultValue="http://localhost:3100"/>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="kanban-api"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="!test">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${lokiUrl}/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=${appName},host=${HOSTNAME:-localhost},level=%level</pattern>
                </label>
                <message>
                    <pattern>%-5level [%t] %logger{36}: %msg%n%ex</pattern>
                </message>
                <sortByTime>true</sortByTime>
            </format>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
